.container-fluid{
	padding-top: 60px;
	padding-bottom: 60px;
}

body{
	color: #3d5c5c;
	font-family: Georgia;
	background-image: linear-gradient(180deg, #d279a6, #39ac73, #ffffff);
}

h1{
	text-align: center;
	letter-spacing: 20px;
	font-size: 400%;
	padding: 30px;
	color: #33334d;
}

h2{
	color: #47476b;
}

p{
	padding: 30px;
	font-size: 15px;
	color: #47476b;
}

#projects{
	width: 100%;
}

.col{
	height: 50%;
	width: 30%;
	display: inline-block;
	margin: 1%;
	border-radius: 25px;
}

.fa{
	color: #3d5c5c; 
	padding: 20px;
}

.col:hover{
	opacity:0.3;
}

.fa:hover{
	font-size: 4em;
	transition: 0.5s ease-out;
}